@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
  @apply bg-zinc-100 dark:bg-gray-900 border-b border-zinc-200 dark:border-gray-800;
}

.prose .react-tweet-theme {
  --tweet-container-margin: 1.5rem 1.5rem;
}

.prose .react-tweet-theme img {
  margin-top: 0;
}

.callout p {
  margin-top: 0;
  margin-bottom: 0;
  @apply text-gray-800 dark:text-white;
}

.audio-player p {
  margin-top: 0;
  margin-bottom: 2;
  @apply text-gray-800 dark:text-white;
}

.prose strong {
  @apply text-gray-800 dark:text-white;
}

/* rehype-pretty-code block styles */

[data-rehype-pretty-code-figure] pre {
  @apply bg-slate-200 dark:bg-gray-800;
}

[data-rehype-pretty-code-title] {
  @apply pl-4;
}

[data-highlighted-line] {
  @apply bg-zinc-200 dark:bg-zinc-800;
}

[data-highlighted-chars] {
  @apply bg-zinc-200 dark:bg-zinc-800;
}

[data-line] {
  @apply px-1;
}
/* rehype-pretty-code theme */
code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
}
 
@media (prefers-color-scheme: dark) {
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}