@tailwind base;
@tailwind components;
@tailwind utilities;

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.1 ease-in-out;
}

/* code titles */
.remark-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-800 bg-gray-200 border border-b-0 border-gray-200 rounded-t;
}

.remark-code-title + pre {
  @apply mt-0 rounded-t-none;
}

/* inline code */
.prose code {
  @apply text-gray-800 px-1 py-0.5 border border-gray-100 rounded-md bg-gray-100;
}

prose .anchor {
  @apply absolute invisible;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}